// Specific CSS for your home-page
.homepage-heading {
font-family: 'Bebas Neue', sans-serif;
color: white;
font-size: 80px ;
letter-spacing: 2px;
}

.homepage-paragraph {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 20px ;
  letter-spacing: 2px;
  }

.homepage-container {
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  background-color: #242423;
  box-sizing: border-box;
}

.login-container {
  max-width: 1200px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

body {
  background-color: #242423;
  margin: 0;
}

.custom-link {
  color: #1EA896; /* Change this to your desired color value */
  /* You can also add other CSS properties to style the links as needed */
}
