// Specific CSS for your home-page
.homepage-heading {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage-container {
  padding-top: 20px;
  max-width: 1200px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}

.form-container {
  padding-top: 20px;
  max-width: 600px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  .form-group {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    .form-control.input-white {
      background-color: white;
      border: none;
      &:focus {
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.listing-form {
  padding-top: 20px;
}

.listings-row {
  max-width: 600px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}

.listing {
  margin: 20px;
  border: 1 px solid rgb(85, 85, 85);
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
