// Specific CSS for your home-page
.homepage-heading {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
}

.homepage-container {
  padding-top: 20px;
  max-width: 1200px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #242423;
}

.login-container {
  max-width: 1200px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
