.bookings-heading{
  color:white;
}

.booking-form-group{
  color:white;

}
.booking-form{
  border-radius: 15px;
  display: flex;
  text-align: center;
}

.bookings-container {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #4b4a4a, #272727);
  margin-top:20px;
  width: 600px;
  text-align: center;
  border-radius: 15px;
}
.bookings-container:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
