
.listing-heading {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 40px ;
  letter-spacing: 2px;
  }

.listing-sub-heading {
  font-family: 'Bebas Neue', sans-serif;
  color: #1EA896;
  font-size: 25px ;
  letter-spacing: 2px;
}

.listing-paragraph {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 16px ;
  letter-spacing: 2px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px;
  margin-bottom: 20px;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-listing{
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  margin-bottom: 40px;
}

.listing-form {
  padding-top: 20px;
}

.listings-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  max-width: 1000px;
  max-height: 80px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #242423;
  color: white;
}

.listing {
  margin: 20px;
  border: 1 px solid #131616(85, 85, 85);
  border-radius: 15px;
  background: linear-gradient(to bottom, #4b4a4a, #272727);
  color: white;
  padding: 20px;
  box-shadow: 5px 5px 10px #000000(0, 0, 255, 0.5);
}

.sub-heading {
  color: #1EA896;
}
a {
  text-decoration: none;
}

.listing:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.form-container {
  color:white;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  .listing-form-group {
    color:white;

    .form-control.input-white {
      color:white;
      border: none;
      &:focus {
        border: none;
      }
    }
  }
}
.create-list-container{
  background: linear-gradient(to bottom, #4b4a4a, #272727);
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.listing-show-container {
  padding: 20px;
  max-width: 600px;
  color:white;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  border: solid 0.5px #1EA896;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #4b4a4a, #272727);
}

.listing-show-container:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.listing-show-links{
  justify-content: center;
  text-align: center;
}

.listing-show-links:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
